<% @title = "Karyotyped Cell Lines" %>

<table>
  <tr>
    <td>
      <% @cell_lines.each do |cl| %>
          <% @cell_line = cl %>
          <li><%= render :partial => "karyotype/link_cell_line" %></li>
      <% end %>
    </td>
  </tr>
</table>
