<% if @breadcrumbs %>
    <h2 class="hide">Breadcrumbs:</h2>
    <ul class="avmenu">
      <li><%= link_to "Track back...", "/" %></li>
        <ul>
          <% @breadcrumbs[0..-2].each do |txt, path| %>
              <li><%= link_to(h(txt), path) %></li>
          <% end %>
          <ul><li><%= link_to h(@breadcrumbs.last.first) %></li></ul>
        </ul>
    </ul>
<% end %>