<div id="footer">

  <p><span><a href="http://www.uni.lu" class="copyright">University of Luxembourg</a>

    <p>
    <span class="copyright">
      &copy; 2013, <a href="http://wwwen.uni.lu/lcsb">Luxembourg Centre for Systems Biomedicine</a>,
      All Rights Reserved
    </span>
    <br/>


    <a href="http://andreasviklund.com/templates/" title="Original CSS template design">Original website design</a> by
    <a href="http://andreasviklund.com/" title="Andreas Viklund">Andreas Viklund</a> | Modified by
    <a href="http://Jasoncole.ca">Jason Cole</a></p>
</div>
