<div id="header">
  <div id='sitetitle' align="left">
    <table>
      <tr>
        <td>
          <h1>
            <a href="/karyotype">Cancer Karyotypes (need cooler title)</a>
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          <h2>
            <a href=http://wwwen.uni.lu/lcsb/research/computational_biology>Computational Biology</a>
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>
          <a href="http://wwwen.uni.lu/lcsb">
            <img src="" alt="LCSB" align="left" border="0">
          </a>
              </h2>
        </td>
      </tr>
    </table>
  </div>



  <!--p>Included layouts: <a href="index.html">3-col</a> &middot; <a href="index2.html">2-col a</a> &middot;
    <a href="index3.html">2-col b</a> &middot; <a href="print.html">Print</a></p -->
</div>

